<h1>friends list</h1>

<% friends.forEach( friend => { %>
  <li><%= friend %></li>
<% }); %>

<form method="post" action="/addfriend">
  <input placeholder="name" type="text" name="newfriend">
  <button>submit</button>
</form>
