<!DOCTYPE HTML>

<html>
    <head>
        <title>blog</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
              integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
              crossorigin="anonymous" />
        <link rel="stylesheet" href="/stylesheets/app.css"/>
    </head>
    <body>
        <header class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                    <i class="code icon"></i>Blog site
                </div>
                <a class="item" href="/">home page</a>
                <a class="item" href="/blogs/new">new blog</a>

                <a class="item" href="/register">register</a>
                <a class="item" href="/login">login</a>
                <a class="item" href="/logout">logout</a>
            </div>
        </header>


