<%- include ("partials/header") %>

<h2>new camp grounds</h2>

<form method="post" action="/campgrounds">
    <input placeholder="name" type="text" name="name">
    <input placeholder="image" type="text" name="image">
    <button>submit</button>
</form>

<a href="/campgrounds">Go Back</a>

<%- include ("partials/footer") %>
